
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-header {
  position: relative;
  margin-bottom: 26px;
  margin-top: 5px;
  /* background-color: #143a0d; */
  text-align: center;
  box-sizing: border-box;
  height: 246px;
  padding: 0px;
  border-radius: 5px;
  border-top: 4px solid #21a00b;
  border-bottom: 4px solid #21a00b;
  color: white;
}

.propagate-loader {
  display: table;
  margin: 0 auto;
}
.propagate-loader-modal {
  display: table;
  margin: 0 auto; 
  padding: 10px 0; 
}

.star > span {
  cursor: pointer;
  font-size: 30px;
  color: green;
}

.yellow-star > span {
  cursor: pointer;
  font-size: 30px;
  height: 45px;
  width: 45px;
  color: orange;
}

.fav-link {
  margin-bottom: 30px;
  border-top: 2px solid #21a00b;
  border-bottom: 2px solid #21a00b;
  text-align: center;
  padding: 10px 0px;
}